global:
  scrape_interval:     5s 
  evaluation_interval: 5s
  external_labels:
      monitor: 'monitoring'

rule_files:

scrape_configs:

  - job_name: prometheus
    static_configs:
    - targets: 
      - localhost:9090

  - job_name: cadvisor
    static_configs:
    - targets: 
      - cadvisor:8080
